{% extends "notes/base.html" %} {% load static %} {% block content %}
<div class="appbar">
  <img class="logo" src="{% static 'notes/img/logo-getit.png' %}" />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
  <a href="/tags"><button type="submit">Tags</button></a>
</div>

<main class="card-container">
  <form method="post" class="card">
    {% csrf_token %}
    <input
      id="titulo"
      class="form-card-title"
      type="text"
      name="titulo"
      value="{{note.title}}"
    />
    <input
      id="titulo"
      class="form-card-title"
      type="text"
      name="detalhes"
      value="{{note.content}}"
    />
    <label id="tag" type="text" name="tag" class="form-card-title" value="{{note.tag}}">
      Selecione a tag</label>
    <select class="autoresize" id="tag" name="tag" value="{{note.tag}}">
      <option value="personal" class="form-card-title">Personal</option>
      <option value="work" class="form-card-title">Work</option>
      <option value="study" class="form-card-title">Study</option>
      <option value="other" class="form-card-title">Other</option>
    </select>
    <button class="btn" type="submit">Editar</button>
  </form>
</main>
<script type="text/javascript" src="{% static 'notes/js/getit.js' %}"></script>
{% endblock %}
