{% extends "notes/base.html" %} {% load static %} {% block content %}
<div class="appbar">
  <img class="logo" src="{% static 'notes/img/logo-getit.png' %}" />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
  <a href="/tags"><button type="submit">Lista de Tags</button></a>
  <form method="post">
    {% csrf_token %}<button type="submit">Página inicial</button>
  </form>
</div>

<main class="container">
  <ul class="card-container">
{% for note in notes %}
    <li class="card">
        <a href="/tag/{{note.tag}}">
          <button type="submit">{{note.tag}}</button></a>
      </div>
    </li>
    {% endfor %}
  </ul>
</main>

<script type="text/javascript" src="{% static 'notes/js/getit.js' %}"></script>
{% endblock %}